*{
    margin: 0;
    padding: 0;
    box-sizing: border-box 0;
}
.bitmap{
    background-image: url(./Bitmap.png);
    background-repeat: no-repeat;
    width: 100%;
    height: 650px;    
}
header{
    display: flex;
    gap: 350px;
    padding-top: 60px;
}
.logo{
    margin-left: 150px;
}
.navbar{
    display: flex;
    gap: 60px;
    list-style: none;
}
.navbar a{
    text-decoration: none;
    color: white;
    font-family: Alata;
font-size: 15px;
font-weight: 500;
line-height: 25px;
cursor: pointer;
}
.navbar a::before{
    content: "";
    position: absolute;
    top: 100%;
    height: 2px;
    background: var(--clr-typo1);
    transition: 0.3s;
    cursor: pointer;
}
.navbar a:hover::before{
    width: 75%;
}
.headtext{
    font-family: Josefin Sans;
font-size: 40px;
font-weight: 300;
line-height: 60px;
color: #FFFFFF;
border: 2px solid;
width: 500px;
height: 210px;
padding: 40px;
padding-top: 60px;
margin-left: 150px;
margin-top: 120px;
}

/* Group 6 section */
.contents{
    margin-top: 160px;
    margin-left: 150px;
}
.Group5{
    background-color:white;
    width: 500px;
    height: 300px;
    position: relative;
    bottom: 304px;
    left: 570px;
}
.contents h3{
    font-family: Josefin Sans;
font-size: 48px;
font-weight: 300;
/* line-height: 40px; */
padding-top: 70px;
padding-left: 50px;
margin-bottom: -25px;
}
.contents p{
    font-family: Alata;
font-size: 15px;
font-weight: 400;
line-height: 28px;
margin-top: 25px;
padding-top: 30px;
padding-left: 55px;
opacity: 40% ;
}

/* creationsection */
.createbtn{
    display: flex;
    /* justify-content: space-between;
    justify-content: space-around; */
    gap: 500px;
    margin-left: 150px;
}
.createbtn h2{
    font-family: Josefin Sans;
font-size: 48px;
font-weight: 300;
line-height: 48px;
}
.createbtn button{
    font-family: Alata;
font-size: 14px;
font-weight: 400;
line-height: 14px;
letter-spacing: 5px;
background-color:white;
border: none;
width: 150px;
height: 40px;
border: 1px solid black;
color:white;
}
.createbtn a{
    text-decoration: none;
    color: black;
}
.createbtn button:hover{
    background-color:black ;
    color: #FFFFFF;
}
 a:hover{
    color:#FFFFFF;
}

.imagebox{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 80%;
    margin-left: 150px;
    margin-top: 80px;
}
.image1 h4{
    font-family: Josefin Sans;
font-size: 32px;
font-weight: 300;
line-height: 32px;
text-align: left;
color: white;
position: relative;
top: -100px;
left: 40px;
}
.imghover:hover{
opacity: 30%;
}
.imghover4:hover{
    color: black;
}

/* footersection */
.footer{
    background-color: black;
    padding-top: 44px;
    padding-bottom: 43px;
}
.footerflex{
    display: flex;
    gap: 695px;
    margin-left: 150px;
}

.icons{
    display: flex;
    gap: 16px;
}
.lastflex{
    display: flex;
    gap: 440px;
    margin-left: 150px;
    margin-top: 24px;
}
.footernav ul{
    display: flex;
    color: white;
    gap: 30px;
    list-style: none;
    font-family: Alata;
font-size: 15px;
font-weight: 400;
line-height: 25px;
}
.copyright{
    color: white;
    font-family: Alata;
font-size: 15px;
font-weight: 400;
line-height: 25px;
opacity: 50%;
}